<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value[0].name || ''}}
      <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(toppings.value.length || 0) - 1}} {{toppings.value.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingsOptions$ | async"  [value]="topping">{{topping.name}}</mat-option>
  </mat-select>
</mat-form-field>
<div>    
  <h3>custom control value</h3>
  {{ toppings.value | json }}
</div>