<h1>Examples</h1>

<form *ngFor="let scenario of scenariosWithControls">
    <h3>With list items immediately available, initial value set to ({{scenario.s.initialValue | json}}), and validator '{{scenario.s.validatorName}}'</h3>
    <div class="flex-row">

        <aya-select-auto-complete
        class="mr-1"
        [listItems]="(scenario.listItems$ | async) ?? []"
        [formControl]="scenario.c"
        label="Test Autocomplete"
        >
    </aya-select-auto-complete>

    <button [locumsDisableUntilReady]="scenario.c"
    class="mr-1"
    type="submit"
    mat-raised-button
    color="primary">Submit</button>
    
    <pre>
        {{scenario.s | json}}
        Parent control value: {{ scenario.c.value | json }}
        Parent control status: {{ scenario.c.status | json }}
        Parent control errors: {{ scenario.c.errors | json }}
        Parent control pristine: {{ scenario.c.errors | json }}
        Parent control untouched: {{ scenario.c.errors | json }}
        listOptions: {{ (scenario.listItems$ | async) | json}}
    </pre>
</div>
</form>
